/* Reset CSS */
html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%; /* Set body height to 100% */
}

/* Container Styles */
.container {
    width: 100%; /* 100% width by default */
    height: 100vh; /* 100% of viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: relative;
    background-color: white;
}

/* Iframe Styles */
iframe {
    width: 100%; /* 100% width by default */
    height: 100%; /* 100% height by default */
    border: none; /* Remove iframe border */
    background-color: white;
    max-width: 100%; /* Ensure the iframe doesn't exceed its container width */
    max-height: 100%; /* Ensure the iframe doesn't exceed its container height */
    overflow: auto; /* Enable scrolling within the iframe if necessary */
    display: block; /* Ensure proper rendering as a block element */
}

/* Responsive Styles */
/* For screens up to mobile size */
@media screen and (max-width: 576px) {
    .container {
        /* No specific styles needed for mobile screens */
    }
    iframe {
        /* No specific styles needed for mobile screens */
    }
}

/* For screens larger than mobile but up to tablet size */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 90%; /* Example: 90% width for smaller tablets */
    }
}

/* For screens larger than tablets but up to laptop size */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 80%; /* Example: 80% width for laptops */
    }
}

/* For screens larger than laptops */
@media screen and (min-width: 1025px) {
    .container {
        width: 70%; /* Example: 70% width for larger screens */
    }
}
