/* Apply border-box box model to all elements */
* {
    box-sizing: border-box;
}

/* Default styles */
.container {
    width: 100%;
    max-width: 100%; /* Set initial maximum width to 100% */
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    padding: 0;
    border: none;
}

iframe {
    width: 100%;
    border: none;
}

/* Media queries */
@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        max-width: 80%;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    .container {
        max-width: 70%;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
    .container {
        max-width: 60%;
    }
}

/* Additional media queries for larger screen sizes */
@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .container {
        max-width: 1440px; /* Maintain the maximum width to match the width of the embedded document */
    }
}

@media screen and (min-width: 2561px) {
    .container {
        max-width: 1440px; /* Maintain the maximum width to match the width of the embedded document */
    }
}
