body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

iframe {
  width: 100%; /* Take up full width of its container */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  height: 100%; /* Take up full height of its container */
  border: none; /* Remove default border */
}
